<h2>Adding Movie</h2>
<hr>
<form (ngSubmit)="saveData(moviedata)" #movieform="ngForm">
    <div>
        <label for="name">Movie Name</label>
        <input type="text" id="name" name="name" placeholder="Enter Movie name" [(ngModel)]="moviedata.name" 
        required #name="ngModel">
    </div>
    <div>
        <label for="rating">Rating</label>
        <input type="text" id="rating" name="rating" placeholder="Enter Rating" [(ngModel)]="moviedata.rating"
        #rating="ngModel" min="1" max="5">
    </div>
    <div>
        <label for="year">Release year</label>
        <input type="text" id="year" name="year" placeholder="Enter year" [(ngModel)]="moviedata.yearrelease" 
        required #yearrelease="ngModel">
    </div>
    <br><br>
    <p>
        <input type="submit" value="Save" class="btn btn-Info" [disebled]="!movieform.valid">
    </p>
</form>