<div class="container">
    <div class="jumbotron">
        <h1>Movie Listing</h1>
        <div style="background-color: papayawhip;padding-left:20px ;">
        <table class="table">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Rating</th>
                <th>Year</th>
            </thead>
            <tbody>
                <tr *ngFor="let m of moviedata">
                    <td>{{m.id}}</td>
                    <td>{{m.name}}</td>
                    <td>{{m.rating}}</td>
                    <td>{{m.yearRelease}}</td>
                    <td>
                        <a [routerLink]="['/find/',m.id]">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>