@model Employee
<div class="jumbotron">
    <form method="post">
        <label asp-for="Name"></label>
        <input type='text' asp-for='Name'>
        <span asp-validation-for="Name" style="color:red"></span>
        <br><br>
        <label asp-for="Salary"></label>
        <input type='text' asp-for='Salary'>
        <span asp-validation-for="Salary" style="color:red"></span>
        <br><br>
        <label>Select Departments</label>
        <select asp-for="DeptId" asp-items="ViewBag.DeptId">
            <option value=''>Choose Departments</option>
        </select>
        <br><br>
        <label asp-for="Email"></label>
        <input type='text' asp-for='Email'>
        <span asp-validation-for="Email" style="color:red"></span>
        <br><br>
        <label asp-for="Dob"></label>
        <input type='date' asp-for='Dob'>
        <br><br>
        <input type='Submit' value='Save' class='btn btn-success'>
    </form>
    <br><br>
    <a asp-asp-controller="Emp" asp-action="List">Back To List</a>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.jquery-validation-unobtrusive.min.js"></script>
