<!-- <h2>Delete Movie</h2>
<hr>
<form (ngSubmit)="saveData(moviedata)" #movieform="ngForm">
    <div>
        <label for="id">Id</label>
        <input type="text" id="id" name="name" readonly [(ngModel)]="moviedata.id">
    </div>
    <div>
        <label for="name">Movie Name</label>
        <input type="text" id="name" name="name" readonly [(ngModel)]="moviedata.name">
    </div>
    <div>
        <label for="rating">Rating</label>
        <input type="text" id="rating" name="rating" readonly [(ngModel)]="moviedata.rating">
    </div>
    <div>
        <label for="year">Release year</label>
        <input type="text" id="year" name="year" readonly [(ngModel)]="moviedata.yearrelease">
    </div>
    <br><br>
    <p>
        <input type="submit" value="Delete" class="btn btn-danger">
    </p>
</form> -->
