<hr>
<form (ngSubmit) = "savedata(detailsdata)" #detailsform = "ngForm">
    <div class="container junmbotron" style="width:500px">
        <div>
            <label for="actor">Actor Name</label>
            <input type="text" id="actor" name="actor" [(ngModel)]="detailsdata.actor" #moviedata="ngModel" class="form-control">
        </div>
 
        <div>
            <label for="movieid">Movie Id</label>
            <select id="movieid" name="movieid" [(ngModel)]="detailsdata.movieid" class="form-control">
                <option *ngFor="let sd of showdata" [value]="sd.id">
                    {{sd.name}}
                </option>
            </select>
        </div>
        <div>
            <label for="gender">Gender</label>
            <input type="text" id="gender" name="gender" [(ngModel)]="detailsdata.gender" #gender="ngModel" class="form-control">
        </div>
        <div>
            <label for="role">Select Role</label>
            <select id="role" [(ngModel)]="detailsdata.role" class="form-control">
                <option value="Hero">Hero</option>
                <option value="Heroine">Heroine</option>
                <option value="villain">villain</option>
                <option value="Comedian">Comedian</option>
            </select>
        </div>
        <br><br>
        <p>
            <input type="submit" value="Save" class="btn btn-success" [disabled]="!detailsform.valid">
        </p>
    </div>
 
   
</form>