<h3>Week Days</h3>
<ul *ngFor="let day of weekdays;let i=index">
    <li>{{i+1}}--{{day}}</li>
</ul>
<ng-container *ngIf="age>=26;else elseTemplate">
    <b>Suitable for Marriage</b>
</ng-container>
<ng-template #elseTemplate>
    <u>Not Ready</u>
</ng-template>
<ul *ngFor="let day of weekdays">
    <ng-container *ngIf="(day == 'Sunday' || day == 'Saturday');else elseTemplate">
        <li style="color:darkcyan">{{day}} is a Weekend</li>
    </ng-container>
    <ng-template #elseTemplate>
        <li style="color:darkmagenta">{{day}} is a Working day</li>
    </ng-template>
</ul>
<hr>
Id:{{emp.id}}<br>
Name:{{emp.name}}<br>
Salary:{{emp.salary}}<br>
City:{{emp.city}}<br>
<hr>