<h1>Register Form</h1>
 
<form #stdform = 'ngForm' (ngSubmit) = "RegisterStudent(stdform)" >
 
<div>
    <label for = "firstname">First Name</label>
    <input id = "firstname" name = "firstname"  type ="text" ngModel required #firstname = "ngModel">
    <div *ngIf = "firstname.invalid && (firstname.dirty || firstname.touched)" style = "color:red">
        <div *ngIf = "firstname.errors.required">
            Name cannot be blank
        </div>
    </div>
</div>
 
<div>
    <label for = "lastname">Last Name</label>
    <input id = "lastname" name = "lastname"  type ="text" ngModel maxlength="25" minlength="3" #lastname = "ngModel">
    <div *ngIf = "lastname.invalid && (lastname.dirty || lastname.touched)" style="color: red">
        <div *ngIf = "lastname.errors.maxlength">
            Name not more than 30 chars
        </div>
        <div *ngIf = "lastname.errors.minlength">
            Name should be 5 chars
        </div>
    </div>
</div>
 
<div>
    <label for = "email">Email</label>
    <input id = "email" name = "email"  type ="text" ngModel>
</div>
 
<div>
    <label>Gender</label>
    <input type ="radio" name = "gender" value = "male" checked [(ngModel)] = "gender">Male
    <input type ="radio" name = "gender" value = "male" checked [(ngModel)] = "gender">Female
</div>
 
<div>
    <input type = "checkbox" name = "ismarried" id = "ismarried" [(ngModel)] = "ismarried"> Marital Status
</div>
 
<div>
    <label for = "city">City</label>
    <select id = "city" name = "city" [(ngModel)] = "CityId">
        <option value = "1">Mumbai</option>
        <option value = "2">Pune</option>
        <option value = "3">Chennai</option>
        <option value = "4">Delhi</option>
    </select>
</div>
 
<div>
    <input type = "submit" value = "Save" >
</div>
 
</form>


<!--<h1>Register Form</h1>
<hr>
<form #stdform="ngForm" (ngSubmit)="RegisterStudent(stdform)">
    <div>
        <label for="firstname">First Name</label>
        <input id="firstname" name="firstname" type="text" ngModel required #firstname="ngModel">
        <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" style="color:red"></div>
            <div *ngIf="firstname.errors.required">
                Name cannot be blank
            </div>
        </div>
    </div>
     
    <div>
        <label for = "lastname">Last Name</label>
        <input id = "lastname" name = "lastname"  type ="text" ngModel maxlength="25" minlength="3" #lastname="ngModel">
        <div *ngIf="lastname.invalid && (lastnamedirty || lastname.touched)" style="color:red"></div>
            <div *ngIf="lastname.errors.maxlength">
                Name not more than 30 chars
            </div>
            <div *ngIf="lastname.errors.minlength">
                Name should be 5 chars
            </div>
        </div>
     
    <div>
        <label for = "email">Email</label>
        <input id = "email" name = "email"  type ="text" ngModel>
    </div>
     
    <div>
        <label>Gender</label>
        <input type ="radio" name = "gender" value = "male" checked [(ngModel)] = "gender">Male
        <input type ="radio" name = "gender" value = "male" checked [(ngModel)] = "gender">Female
    </div>
     
    <div>
        <input type = "checkbox" name = "ismarried" id = "ismarried" [(ngModel)] = "ismarried"> Marital Status
    </div>
     
    <div>
        <label for = "city">City</label>
        <select id = "city" name = "city" [(ngModel)] = "CityId">
            <option value = "1">Mumbai</option>
            <option value = "2">Pune</option>
            <option value = "3">Chennai</option>
            <option value = "4">Delhi</option>
        </select>
    </div>
     
    <div>
        <input type = "submit" value = "Save" >
    </div>
</form>-->