<h1>Register Form</h1>
<hr>
<form #stdform="ngForm" (ngSubmit)="RegisterStudent(stdform)">
    <div>
        <label for="firstname">First Name</label>
        <input id="firstname" name="firstname" type="text" ngModel required>
        <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" style="color:red"></div>
        <div *ngIf="firstname.errors.required">
            Name cannot be blank
        </div>
    </div>
     
    <div>
        <label for = "lastname">Last Name</label>
        <input id = "lastname" name = "lastname"  type ="text" ngModel maxlength="25" minlength="3">
    </div>
     
    <div>
        <label for = "email">First Name</label>
        <input id = "email" name = "email"  type ="text" ngModel>
    </div>
     
    <div>
        <label>Gender</label>
        <input type ="radio" name = "gender" value = "male" checked [(ngModel)] = "gender">Male
        <input type ="radio" name = "gender" value = "male" checked [(ngModel)] = "gender">Female
    </div>
     
    <div>
        <input type = "checkbox" name = "ismarried" id = "ismarried" [(ngModel)] = "ismarried">
    </div>
     
    <div>
        <label for = "city">City</label>
        <select id = "city" name = "city" [(ngModel)] = "CityId">
            <option value = "1">Mumbai</option>
            <option value = "2">Pune</option>
            <option value = "3">Chennai</option>
            <option value = "4">Delhi</option>
        </select>
    </div>
     
    <div>
        <input type = "submit" value = "Save" >
    </div>
</form>